<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>susan nio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/app.css" />
</head>
<div class="ui menu">
        <div class="header item"><a class="item" href="/">Home</a></div>
        <a class="item" href="/students">Students</a>
        <a class="item" href="/teachers">Teachers</a>
        <a class="item" href="/subjects">Subjects</a>
      </div>
<body>
