<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <table border="1">
        <tr>
            <th>
                <center>Id</center>
            </th>

            <th>
                <center>Student Name</center>
            </th>

            <th>
                <center>Student Score</center>
            </th>

        </tr>
        <% subjects.Students.forEach(student =>{ %>
        <tr>
            
                <td>

                    <%= student.id %><br>

                </td>

                <td>

                    <%= student.firstName %><br>

                </td>
                <td>
                    <%- helpGetScore(student.id,student.StudentCon.score) %>
                    
                    

                </td>
                
        </tr>
        <% }) %>
    </table>
    


</body>

</html>