<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>list-subject</title>
</head>
<body>
    <div class="container">
        <table border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
           
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="/teacher/<%= dataTeacher.id %>/update" title="<%= dataTeacher.id %>"><button>EDIT</button></a>
                            <a href="/teacher/<%= dataTeacher.id %>/delete" title="<%= dataTeacher.id %>"><button>DELETE</button></a>
                        </td>
                    </tr>
                
            </tbody>
        </table>
    </div>
</body>
</html>