<html>
<body>
<h2>Add Student Data</h2>
<p><a href ="/studentsData">show all data</a></p>
    <form action="/student/add" method="post">
    First name:<br>
    <input type="text" name="firstName">
    <br>
    Last name:<br>
    <input type="text" name="lastName">
    <br>
    Email:<br>
    <input type="text" name="email">
    <br><br>
    <input type="submit" value="Submit">
    </form> 
<p><a href ="/">home</a></p>
</body>
</html>

