<!DOCTYPE html>
<html>
<head>
<title>Students</title>
</head>
<body>
    <h1>Add Subject to Students</h1>
    <div class="edit_student_table">
        <form action="/students/:id/addSubject" method="post">
            First name:<br>
            <input type="text" name="firstName" value="<%= addSubject.firstName%>">
            <br>
            Last name:<br>
            <input type="text" name="lastName" value="<%= addSubject.lastName%>">
            <br>
            Email:<br>
            <input type="text" name="email" value="<%= addSubject.email%>">
            <br>
            Choose Subject:<br>
            <select>
                <option name="subjectId" value="1">Kimia</option>
                <option name="subjectId" value="2">Ekonomi</option>
              </select>
            <br><br>
            <input type="submit" value="Add Subject">
        </form>
    </div>
<p><a href ="/">home</a></p>
</body>
</html>