<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Students List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/student-css/addStudent.css" />
    <script src="main.js"></script>
</head>

<body>
    <section>
        <!--for demo wrap-->

        <h1>
            <%=subjects.subjectName %>
        </h1>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>score</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
              

                </tbody>
            </table>

        </div>
        <a href="/">Home</a>

    </section>



</body>

</html>